aiohttp==3.6.3
aniso8601==8.0.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.2.0
braceexpand==0.1.6
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
dblpy==0.4.0
discord-ext-menus==1.0.0a27+g6f2b873
discord.py==1.5.1
dnspython==2.0.0
Flask==1.1.2
Flask-RESTful==0.3.8
humanize==3.1.0
idna==2.10
import-expression==1.1.4
itsdangerous==1.1.0
Jinja2==2.11.2
jishaku==1.19.2.202
MarkupSafe==1.1.1
motor==2.3.0
multidict==4.7.6
psutil==5.7.3
pymongo==3.11.0
pytz==2020.4
ratelimiter==1.2.0.post0
sentry-sdk==0.19.2
six==1.15.0
urllib3==1.26.0
Werkzeug==1.0.1
yarl==1.5.1
